.best-box.is-12, .title-box.is-12{
    margin-top: 42px;
    margin-bottom: 21px;
    height: 21px;
    font-size: 17px;
}
.best-box.is-3{
    box-sizing: border-box;
    height: 357px;
    padding: 20px;
    border: 1px solid #ddd;
}
.best-box.is-3:hover{
    border: 1px solid #bd1d31;
}
.item a{
    display: block;
    img{
        display: block;
        width: 208px;
        margin: 0 auto;
    }
}
.d9n{
    line-height: 1.4;
    padding-top: 21px;
    .item-name{
        font-size: 16px;
    }
    .item-price{
        margin-top: 21px;
        font-size: 18px;
        float: left;
        color: #bd1d31;
    }
    .like-btn{
        cursor: pointer;
        margin-top: 23px;
        float: right;
        width: 21px;
        height: 16px;
        border: none;
        background: url("../../images/icons/icons.svg") no-repeat;
        background-size: 100% auto;
        background-position: 0 -116px;
        overflow: hidden;
    }
    .like-btn:hover{
        background-position: 0 -101px;
    }
    .like-btn:focus{
        background-position: 0 -101px;
    }
}