@font-face {
    font-family: 'Nanum Square';
    font-weight:400;
    src: url('../fonts/Nanum Square/NanumSquareOTFRegular.otf');
}
@font-face {
    font-family: 'Nanum Square ExtraB';
    font-weight:400;
    src: url('../fonts/Nanum Square/NanumSquareOTFExtraBold.otf');
}
@font-face {
    font-family: 'Nanum Square Light';
    font-weight:400;
    src: url('../fonts/Nanum Square/NanumSquareOTFLight.otf');
}
@font-face {
    font-family: 'Nanum Square Bold';
    font-weight:700;
    src: url('../fonts/Nanum Square/NanumSquareOTFBold.otf');
}