.footer::after{
    display: block;
    content: "";
    clear: both;
}
.address{
    width: 645px;
    float: left;
    margin-left: 10px;
    font-style: normal;
}
.address-list{
    margin: 0;
    .address-dt{
        float: left;
    }
    .address-dd{
        float: left;
        margin-left: 5px;
        margin-right: 22px;
    }
}
.address-list::after{
    display: block;
    content: "";
    clear: both;
}
.as-center{
    float: right;
    margin-right: 10px;
    .as-title{
        color: #4b4b4b;
        line-height: 21px;
        font-size: 21px;
    }
    .as-number{
        color: #bd1d31;
        height: 42px;
        line-height: 42px;
        font-size: 30px;
    }
}
.sns{
    height: 42px;
    margin-bottom: 21px;
    margin-top: 21px;
    margin-left: 10px;
    width: 400px;
    float: left;
    .sns-icon{
        float: left;
        a{
            margin-right: 5px;
            margin-top: 10px;
            display: block;
            width: 21px;
            height: 21px;
            border-radius: 3px;
        }
    }
    .chet{
        background-color: #46cc22;
    }
    .chet:hover, .chet:focus{
        background-image: url("../../images/icons/icons.svg");
        background-size: 129% auto;
        background-position: 0 -294px;
    }
    .orange{
        background-color: #dc7f3b;
    }
    .orange:hover, .orange:focus{
        background-image: url("../../images/icons/icons.svg");
        background-size: 129% auto;
        background-position: 0 -273px;
    }
    .facebook{
        background-color: #475993;
    }
    .facebook:hover, .facebook:focus{
        background-image: url("../../images/icons/icons.svg");
        background-size: 125% auto;
        background-position: 0 -60px;
    }
    .wifi{
        background-color: #f29600;
    }
    .wifi:hover, .wifi:focus{
        background-image: url("../../images/icons/icons.svg");
        background-size: 125% auto;
        background-position: 0 -303px;
    }
    .instagram{
        border: 1px solid #ddd;
    }
    .instagram:hover, .instagram:hover{
        background-image: url("../../images/icons/icons.svg");
        background-size: 100% auto;
        background-position: 0 -79px;
        border: none;
    }
    img{
        margin-left: 15px;
        margin-top: 7px;
    }
}