.sister-tip{
    position: relative;
}
.is-4.tip{
    height: 231px;
}
.tip a{
    display: block;
}
.tip-box{
    margin-right: 10px;
    width: 230px;
    position: absolute;
    top: 42px;
    right: 0;
    input{
        font-size: 0;
    }
}